/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sankofa+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sankofa+Display&display=swap');

:root{
    --fuente-sankofa: 'Sankofa Display', sans-serif;
    --fuente-josefin: 'Josefin Sans', sans-serif;
    --color-primario: #107A8B;
    --color-secundario: #2CB978;
    --color-terciario: #EAEBED;
    --color-cuaternario: #8200FF;
}

body {
    background-color: #83E85A;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-josefin);
}

header {
    text-align: center;
    margin: 20px 0;
    padding-left: 20px;
    background-color: var(--color-cuaternario);
    font-family: var(--fuente-sankofa);
    font-size: 3rem;
}

img.logo1 {
    max-width: 30%; /* Ajusta el tamaño para PC */
    height: auto;
    display: block;
    margin: 0 auto;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 60vh;
    padding: 0 20px;
    background-color: #83E85A;
    font-family: var(--fuente-josefin);
}

footer {
    background-color: var(--color-cuaternario);
    font-family: var(--fuente-josefin);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%; /* Ajusta la proporción de los contenedores */
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    margin-top: 20px;
    font-size: 62.5%;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: var(--fuente-josefin);
}

/* Estilos para los botones */
.button-container {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--color-primario);
    background-color: var(--color-secundario);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #009688;
}

/* Estilos para el contenedor del resultado */
.result-container {
    width: 45%; /* Ajusta la proporción de los contenedores */
    height: 944px;
    border: 2px solid var(--color-terciario);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-terciario);
}

.result-image {
    width: 10%;
    height: auto;
}

.message-container {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #ccc;
}

.result-message {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

/* Estilos para pantallas grandes (PC) */
@media (min-width: 1025px) {
    main {
        flex-direction: row; /* Asegura que los elementos estén en fila */
        align-items: flex-start;
    }

    h1 {
        font-size: 2.5rem;
    }

    img.logo1 {
        max-width: 15%; /* Tamaño más pequeño en pantallas grandes */
    }

    textarea {
        width: 100%;
    }

    .input-container, .result-container {
        width: 45%; /* Ajusta la proporción de los contenedores */
    }

    .result-container {
        margin-left: 20px; /* Separa el contenedor del resultado del de entrada */
    }
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    main {
        min-height: 50vh;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    textarea {
        width: 80%;
    }

    .result-container {
        width: 350px;
        height: auto;
        margin-top: 20px;
    }
}

/* Estilos para teléfonos */
@media (max-width: 767px) {
    main {
        min-height: 40vh;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 1.5rem;
    }

    textarea {
        width: 90%;
    }

    .result-container {
        width: 250px;
        height: auto;
        margin-top: 20px;
    }
}
